/* Custom Font */
@font-face {
  font-family: "RodinL";
  src: url("/RodinL.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RodinM";
  src: url("/RodinM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body,
#root {
  font-family: "RodinL", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Base CSS */

.header {
  font-family: "RodinM", sans-serif;
  font-size: 2rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blurBackground {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
}

.studyBg {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Settings CSS */

.settings {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  background: rgba(99, 93, 104, .5);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.settings input {
  width: 4rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: #333;
  font-family: "RodinM", sans-serif;
  border: 1px solid #333;
  border-radius: 5px;
}

.settings .signOutButton{
  background-color: hsl(0, 42%, 45%);
}
.settings .signOutButton:hover{
  background-color: hsl(0, 42%, 40%);
}

.sliderCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.loginCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.closeSettings:hover {
  cursor: pointer;
}

/* top right of screen */
.openSettings {
  z-index: 100;
  position: absolute;
  left: 90%;
  top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openSettings:hover {
  cursor: pointer;
}

/* Timer CSS */

.timerCont {
  /* center on screen*/
  position: absolute;
  height: 80vh;
  width: 80vw;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 1rem; */
}
.timerButtons {
  display: flex;
  justify-content: center;
}
.timerButtons > section > ol > li {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.timerButtons button {
  padding: 0.5rem 1rem;
  margin-left: .1rem;
  margin-right: .1rem;
  font-size: 1rem;
  font-family: "RodinM", sans-serif;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 5px;
}
.timerButtons section {
  width: 0px;
}
.timerClock {
  font-size: min(25vh, 25vw);
  border: 2px solid transparent;
}
.timerClock:hover {
  cursor: pointer;
  color: white;
  /* border: 2px solid grey; */
  /* background-color: ; */
  /* border-radius: 10px; */
}

/* Recall Form */

.recallForm {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45rem;
  width: 30rem;
  display: flex;
  border: 3px solid #333;
  background: rgba(99, 93, 104, .5);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.recallForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.recallForm input {
  padding: 0.5rem;
  font-size: 1rem;
  color: #333;
  font-family: "RodinM", sans-serif;
  border: 1px solid #333;
  border-radius: 5px;
}

/*overriding sonner toast css*/
:where([data-sonner-toast][data-styled="true"]) {
  /* background-color: var(--bg-background) !important; */
  backdrop-filter: blur(5px) !important;
  border: 1px solid #333 !important;
  padding: 1rem !important;
  background-color: rgba(255, 255, 255, 0.0) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}

/* Login Form */
.loginForm {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45rem;
  width: 30rem;
  display: flex;
  border: 3px solid #333;
  background: rgba(99, 93, 104, .5);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.loginForm Input {
  width: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  color: #333;
  font-family: "RodinM", sans-serif;
  border: 1px solid #333;
  border-radius: 5px;
}
